[submodule "modules/vim-monokai"]
	path = modules/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "modules/vim-javascript"]
	path = modules/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
