[submodule "modules/vim-monokai"]
	path = modules/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "modules/vim-javascript"]
	path = modules/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "modules/solarized"]
	path = modules/solarized
	url = https://github.com/altercation/solarized.git
[submodule "modules/vim-pathogen"]
	path = modules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "modules/vim-pug"]
	path = modules/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
